<!DOCTYPE html>
<html>
  <head>
    <title>STUPY</title>
    <style>
        body {
      background-color: #121212; /* Dark background */
      color: #e0e0e0; /* Light text */
      font-family: Arial, sans-serif;
    }

    a {
      color: #bb86fc; /* Light purple for links, for better visibility */
    }

    a:visited {
      color: #b0a0ff; /* Slightly different shade for visited links */
    }
    </style>
  </head>
  <body>
    <h1>Welcome to STUPY dashboard</h1>
    <p>
        A place where you can express freely about the UPY.
    </p>
    <p>
        (respectfully, of course)
    </p>
    <ul>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>

    <p>
      <a href="/dashboard">Go to dashboard</a>
    </p>
    <p>
        <a href="/">Go to main page</a>
    </p>
    <p>
        <a href="/logout">Log out</a>
    </p>
    <div>
      <p>Post a new thread</p>
      <form action="/dashboard" method="post">
        <input type="text" name="title" placeholder="Title" title="Up to 50 characters" pattern = "{1,50}"required><br>
        <textarea name="content" placeholder="Content" pattern="{1,500}" title = "Up to 500 characters" required></textarea><br>
        <input type="submit" value="Post">
    </div>
    <div>
      {% for thread in threads %}
      <div>
        <h2>{{ thread['title'] }}</h2> <!-- Correctly accessing dictionary values -->
        <p>{{ thread['content'] }}</p>
        <p>Posted on: {{ thread['date_created'] }}</p> <!-- Displaying datetime -->
        <p>By {{ thread['author_id'] }}</p>
      </div>
      {% endfor %}
    </div>
    

    
  </body>